* {
    font-family: 'Reenie Beanie', cursive;
}

body {
    background-color: #e1d2d2;
}

#header {
    color:crimson;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
}

#canvas {
    height: 500px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.boxes {
    box-sizing: border-box;
    display: flex;
    flex-shrink: 1;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    gap:50px;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.slider, button {
    width: 100%;
    height: 40px;
    font-size: 30px;
}

#color {
    height: 50px;
    width: 50px;
}

#sliderdisplay {
    font-size: 40px;
}